@model CarDealership.Models.VehicleViewModel

@{
    ViewBag.Title = "EditVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Vehicle</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(v => v.Vehicle.VehicleId)
    <div class="row">
        <div class=" col-xs-4">
            @Html.Partial("VehicleFormPartialView")
        </div>
        <div class="col-xs-offset-1 col-xs-4">
            <div class="form-group">
                <label>Model</label>
                @Html.DropDownListFor(v => v.Vehicle.CarModel.CarModelId, Model.CarModelItems, "-Choose One-", new { @class = "form-control", @id = "carModelDropdown" })
            </div>
            <div class="form-group">
                <label>Body Style</label>
                @Html.DropDownListFor(v => v.Vehicle.BodyStyle.BodyStyleId, Model.BodyStyleItems, "-Choose One-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Transmission</label>
                @Html.DropDownListFor(v => v.Vehicle.Transmission.TransmissionId, Model.TransmissionItems, "-Choose One-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Interior Color</label>
                @Html.DropDownListFor(v => v.Vehicle.InteriorColor.InteriorColorId, Model.InteriorColorItems, "-Choose One-", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>VIN #</label>
                @Html.TextBoxFor(v => v.Vehicle.Vin, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Sale Price</label>
                @Html.TextBoxFor(v => v.Vehicle.SalePrice, new { @type = "number", @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(v => v.Vehicle.IsFeatured)
                @Html.LabelFor(m => m.Vehicle.IsFeatured, new { @style = "font-weight:bold" })
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <label>Description</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            @Html.TextAreaFor(v => v.Vehicle.Description, htmlAttributes: new { style = "width: 100%" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div>
                <button type="submit" class="btn btn-primary">Save Edit</button>
                @Html.ActionLink("Cancel Edit", "Vehicles", "Admin", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/vehicles.js"></script>
}
