@model IEnumerable<CarDealership.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
@Html.ActionLink("Add a new User", "AddUser", "Admin", null, new { @class = "btn btn-danger col-xs-2" })

<table class=" col-xs-12 table-bordered table-striped">
    <thead style="background-color:dimgray">
        <tr>
            <th class="col-xs-2">Last Name</th>
            <th class="col-xs-2">First Name</th>
            <th class="col-xs-4">Email</th>
            <th class="col-xs-2">Role</th>
            <th class="col-xs-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.LastName</td>
                <td>@u.FirstName</td>
                <td>@u.Email</td>
                <td>@u.RoleName</td>
                <td>@Html.ActionLink("Edit", "EditUser", "Admin", new { id = u.Id}, new { @class = "btn btn-danger form-control" })</td>
            </tr>
        }
    </tbody>
</table>
