@model CarDealership.Models.UserViewModel
@{
    Layout = null;
}

@using (Html.BeginForm())
{
   <div class="row">
       <div class="col-xs-4 form-group">
           <label>First Name</label>
           @Html.TextBoxFor(u=>u.User.FirstName, new {@class = "form-control" })
       </div>
       <div class="col-xs-4 form-group">
           <label>Last Name</label>
           @Html.TextBoxFor(u=>u.User.LastName, new { @class = "form-control"})
       </div>
   </div>
   <div class="row">
       <div class="col-xs-4 form-group">
           <label>Email</label>
           @Html.TextBoxFor(u=>u.User.Email, new { @class = "form-control"})
       </div>
       <div class="col-xs-4 form-group">
           <label>Role</label>
           @Html.DropDownListFor(u=>u.Role.Id, Model.RoleItems, "-Choose One-", new { @class = "form-control"})
       </div>
   </div>
   <div class="row">
       <div class="col-xs-4 form-group">
           <label>Password</label>
           @Html.TextBoxFor(u=>u.Password, new { @class = "form-control"})
       </div>
       <div class="col-xs-4 form-group">
           <label>Confirm Password</label>
           @Html.TextBoxFor(u=>u.ConfirmPassword, new { @class ="form-control"})
       </div>
   </div>
   <div class="row">
       <div class="col-xs-2 form-group">
           <button class="btn btn-danger" type="submit">Save User</button>
       </div>
   </div>
}
